.orders-table {
  width: 100%;
  border-collapse: collapse;
}

.orders-table th,
.orders-table td {
  padding: 8px 12px;
  border: 1px solid #ddd;
  text-align: left;
  white-space: nowrap; /* Tránh chữ bị tràn dòng */
}

.orders-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.container {
  overflow-x: auto; /* Cho phép cuộn ngang nếu bảng quá rộng */
}

.header {
  display: flex;
  align-items: center;
  gap: 13%; /* Khoảng cách giữa SearchBar và nút Create */
}

.create-button {
  width: 10%;
  margin-bottom: 20px;
  font-size: 16px;
  background-color: #4caf50; /* Màu xanh lá */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.create-button:hover {
  background-color: #45a049; /* Màu xanh đậm hơn khi hover */
}
.filter-buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.filter-buttons button {
  background-color: #f1f1f1;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.filter-buttons button:hover {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.filter-buttons button.active {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
  font-weight: bold;
}
