.user-detail-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #f8f8f8;
  }
  
  .user-info {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .user-info p {
    margin: 10px 0;
  }
  
  .user-info label {
    font-weight: bold;
  }
  
  .edit-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  
  input {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .edit-button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .edit-button:hover {
    background-color: #45a049;
  }
  .top-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Đảm bảo nút được căn giữa theo chiều dọc */
    margin-bottom: 20px;
    position: relative;
  }
  
  .back-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    height: 50px;
  }
  
  .back-button:hover {
    background-color: #45a049;
  }
  
  .edit-icon {
    
    cursor: pointer;
    position: relative; /* Để không bị lệch */
  }
  
  
  
  